body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 10px;
    background-color: #f9f9f9;
}

#header-image {
    /*position: absolute;*/
    /*left: 0;*/
    padding: 10px;
    width: 40px; /* adjust this value according to the desired size of your header image */
    height: 40px; /* this will maintain the aspect ratio of your image */
    z-index: 1; /* ensure the image stays above other elements */
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom:8px;
}


#header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    padding: 3px;
    max-width: 500px;
    margin: 0 auto;
}

.dashboard {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    padding: 3px;
    min-height: 220px;
    max-width: 500px;
    margin: 0 auto;

    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.dashcards {
    /*width: 100%;*/
    margin-top: 4px;
    margin-bottom: 4px;
}

#virtualKeyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

#virtualKeyboard div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

#virtualKeyboard button {
    flex-grow: 1;
    height: 40px;
    margin: 2px;
    border: none;
    background-color: #e6e6e6;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

#virtualKeyboard button:hover {
    background-color: #d4d4d4;
}

#virtualKeyboard button:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(1px);
}

#userInput {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    font-size: 1rem;
    margin: 15px auto;
    display: block;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* For smaller screens */
@media (max-width: 600px) {
    body {
        margin: 0px;
    }

    #virtualKeyboard button {
        height: 35px;
        font-size: 0.8rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom:3px;
    }

    #userInput {
        width: 90%;
    }
}

#virtualKeyboard button.backspace {
    flex-grow: 1;
}
button.listen {
    background-color: #00FF7B; /* Primary blue color */
    color: black;
    padding: 10px 15px;
    border: none;

    border: none;
    background-color: #e6e6e6;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
}

button.listen:hover {
    background-color: #00b356; /* Darker blue color */
    transform: translateY(-2px);
}

/* Active (Clicked) State for the Listen Button */
button.listen:active {
    transform: translateY(0);             /* Reset elevation to default when pressed */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12); /* Slightly decrease shadow for a pressed effect */
}


button.listen:hover {
    /*background-color: #0056b3;*/ /* Darker blue color */
    background-color: rgba(0, 123, 255, 0.1);
    transform: translateY(-2px);
}

button.listen:active {
    transform: translateY(0);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}

/* Flash Card Styles */
.flashcard {
    width: 200px;
    height: 120px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    margin: 20px auto;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.flashcard:hover .card-inner {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-front {
    background-color: #007BFF;
    color: white;
    font-size: 1.2rem;
}

.card-back {
    background-color: white;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    font-size: 1.2rem;
    color: #333;
}


/* Word List Styles */
ul#wordList {
    list-style-type: none;
    padding: 0;
    font-size: 1rem;
}

ul#wordList li {
    margin-bottom: 4px;
    color: #555;
}
.currentWord {
    background: white;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    
    /*background: lightpink;*/
}
.phrase {
    font-size: smaller;
}

#preferences {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #f9f9f9;
}

#answer-correct-img {
    display: none;
    width: 200px;  /* or any preferred size */
    height: auto;
    position: absolute;
    bottom: 5%;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%); /* Center the dinosaur horizontally */
    z-index: 1000; /* Make sure it appears above other content */
}

.toggleButton {
    border:none;
}

/* Select box */
select {
    font-size: 16px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

select:hover {
    background-color: #f0f0f0;
}

select:focus {
    outline: none;
    border-color: #007BFF; /* Adjust to match the color scheme of your site */
}
select {
    appearance: none; /* Remove default appearance */
    -webkit-appearance: none; /* Safari and Chrome */
    -moz-appearance: none; /* Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 6" fill="#999" xmlns="http://www.w3.org/2000/svg"><path d="M1.4 0.6l4.6 4.6 4.6-4.6 1.4 1.4-6 6-6-6z"></path></svg>');
    background-repeat: no-repeat;
    background-position: 95% center;
}
option {
    padding: 8px 10px;
    background-color: #f9f9f9;
}

option:hover, option:focus {
    background-color: #e0e0e0;
}

/* Settings menu */
.hidden {
    display: none;
}

settingsMenu {
    position: absolute; 
    top: 10%; 
    left: 10%;
 /*   width: 80%; 
    height: 80%; */
    background-color: rgba(255, 255, 255, 0.9); 
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}
